@import "tailwindcss/preflight";

/* Add custom base styles here... */

@import "tailwindcss/components";

/* Add custom components here... */

@import "tailwindcss/utilities";

/* Add custom utilities here... */

.triangle {
    width: 0;
    height: 0;
    margin: auto;

    border-top: 20px solid;
    @apply border-pink;

    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    top: 3rem;
    left: 0;
    right: 0;
}
